@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Expense Tracker</h1>

    <p>View all expenses, add, update, and delete expenses as you wish!</p>
    <img id ="home-photo" src="~/images/1673950361361.jpg" alt="Alternate Text" />
</div>
