@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ExpenseMate</h1>

    <p>View all expenses, add, update, and delete expenses as you wish!</p>
   
    <img id="home-photo" src="~/images/monthlyExpense.jpg" />
</div>
