@model IEnumerable<Expense>

<h2>Expenses</h2>

<div style="display: block">
    <a href="/Expense/AddExpense/">Add a New Expense</a>
</div>

<table class="table">
    <tr>
        <th>Expense ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
       
        
    </tr>

    @foreach (var expense in @Model)
    {
        <tr>
            <td><a href=/Expense/GetExpense/@expense.ExpenseID>@expense.ExpenseID</a></td>
            <td>@expense.ExpenseName</td>
            <td>@expense.Amount</td>
            <td>@expense.Date.ToString("MM/dd/yyyy")</td>

        </tr>
    }

</table>